h2 {
   	width: 100%;
    text-align:center;
	font-weight: 200;
	color: #999;
	font-family: Helvetica Neue, Arial, sans-serif;
}

h3 {
   	width: 100%;
    text-align:left;
	font-weight: 170;
	color: #999;
	font-family: Helvetica Neue, Arial, sans-serif;
}

p {
    width: 100%;
    text-align:right;
	font-size: 10px;
	color: #999;
	font-family: Helvetica Neue, Arial, sans-serif;
}
